<!doctype html>
<head>
  <title> Internal Server Error - Sweet Store </title>
  <style>
    .error-box {
      width: 300px;
      margin: 50px auto;
    }
    .error-text {
      font-style: italic;
    }
  </style>
</head>
<body>
<!--em>Internal Server Error.  One of the developers will be looking at what
went wrong, shortly.</em-->
<div class="error-box">
  <h2> Something went wrong! </h2>
  <div class="error-text">
    <p> Seven hundred monkeys were dispatched to look into the problem.</p>
    <p> But you <b>DON'T PANIC!</b></p>
    <p> <b>KEEP CALM</b> and Try Again!</p>
  </div>
</div>
</body>
