<body>
<form id="authorized-form" role="form" method="POST" action="{{ url_for('oauth.authorize') }}">
  <input type="hidden" name="client_id" value="{{ client.id }}">
  <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
  <input type="hidden" name="response_type" value="{{ response_type }}">
  {% if state %}
  <input type="hidden" name="state" value="{{ state }}">
  {% endif %}
  <!--button type="submit" name="confirm" value="yes" class="btn
  btn-primary">Allow</button-->
  <input type="hidden" name="confirm" value="yes">
  <input type="hidden" name="authorized" value="yes">
</form>

<script>
  window.onload = function() {
    document.getElementById('authorized-form').submit();
  };
</script>
</body>
