{% extends "layout.html" %}
{% block body %}
  <div id="store-stats">
    <span><b>Total Sweets:</b> {{ stats.total_sweets }}</span>
  </div>
  <ul class="entries unstyled">
  {% if entries|len > 0 %}
    {% for entry in entries %}
	    {% if entry.who %}
      <li>
        {% if entry.registered %}
        <b>
          <a href="/user/{{ entry.who }}">@{{ entry.who }}</a>
        </b>
        {% else %}
        <b>@{{ entry.who }}</b>
        {% endif %}

        <b>#{{ entry.what }}</b>
        <a href="{{ appURL_map[entry.what] + entry.where }}" target="tab">
          {{ entry.where }}
        </a>
        <p></p>
        <p> {{ entry.how|safe }} </p>
        {% if entry.created|len > 0 %}
          <small><i> created: {{entry.created }} UTC </i></small>
        {% endif %}
        <a class="pull-right" href={{ "/posts/" + entry.id }}>
          <i class="icon-share-alt"></i>
        </a>
      </li>
			{% endif %}
    {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endif %}
  </ul>
{% endblock %}
