{% extends "layout.html" %}
{% block body %}
  <ul class="entries unstyled">
  {% if entries|len > 0 %}
    {% for entry in entries %}
	    {% if entry.who %}
      <li>
        @<b>{{ entry.who }}</b>
        <b>#{{ entry.what }}</b> /{{ entry.where }} {{ entry.how|safe }}
        {% if entry.created|len > 0 %}
          <small>created: {{entry.created }} UTC</small>
        {% endif %}
        <a class="pull-right" href={{ "/posts/" + entry.id }}>
          <i class="icon-share-alt"></i>
        </a>
      </li>
			{% endif %}
    {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endif %}
  </ul>
{% endblock %}
