{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  function deletePost(post_id) {
    if(confirm("Do you really want to delete this post?")) {
      $.post(
        '/posts/delete/',
        {'post_id': post_id},
        function() {
          alert("The post has been deleted!!");
          window.location.href = '/';
        });
    }
    return false;
  }
</script>
<ul class="entries">
  {% for entry in entries %}
    <li>
      @<b>{{ entry.who }}</b>
      <b>#{{ entry.what }}</b> /{{ entry.where }} {{ entry.how|safe }}
      {% if session.logged_in %}
      <a class="pull-right" href="#" onclick='deletePost({{entry.id|string|tojson|safe}})'>
        <i class="icon-trash"></i>
      </a>
      {% endif %}
    </li>
	{% endfor %}
</ul>
{% endblock %}
